<div class="container">
  <h1 class="text-capitalize font-weight-bold my-4">pepole list</h1>

<button type="button" class="btn btn-primary mb-3">Add</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Username</th>
      <th scope="col">Phone</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Shimaa</td>
      <td>Shosho</td>
      <td>00 23 456 789 101</td>
      <td>
        <button type="button" class="btn btn-info mx-1">Details</button>
        <button type="button" class="btn btn-danger mx-3">Delete</button>
        <button type="button" class="btn btn-warning mx-1">Update</button>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Mahmoud</td>
      <td>Mody</td>
      <td>00 23 456 789 101</td>
      <td>
        <button type="button" class="btn btn-info mx-1">Details</button>
        <button type="button" class="btn btn-danger mx-3">Delete</button>
        <button type="button" class="btn btn-warning mx-1">Update</button>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Abd elazeem</td>
      <td>Abdo</td>
      <td>00 23 456 789 101</td>
      <td>
        <button type="button" class="btn btn-info mx-1">Details</button>
        <button type="button" class="btn btn-danger mx-3">Delete</button>
        <button type="button" class="btn btn-warning mx-1">Update</button>
      </td>
    </tr>
  </tbody>
</table>

</div>

